<div *ngFor = "let page of onpage ">
<div *ngIf="page.status == '0' && page.activated == false" >
<h3 style="text-align: center; color: brown;">The Most Poupulated Countries</h3>
<div class="card-group"  >
    <div class="card" *ngFor = "let countrys of sortPeople let i = index;" >
        <a (click)="Detail(countrys.id)">
      <div class="card-body">
        <h5 class="card-title">{{countrys.name}}</h5>
        <p class="card-text">{{countrys.people}} People</p>
        <p class="card-text">{{countrys.description}}</p>
        <p class="card-text"><small class="text-muted">{{countrys.large}} KM</small></p>
      </div>
      </a>
    </div>
    </div>
<h3 style="text-align: center; color: brown;">Three Largest Countries Area</h3>
<div class="card-group" >
    <div class="card" *ngFor = "let countre of sortLarge let i = index;">
        <a (click)="Detail(countre.id)">
        <div class="card-body">
            <h5 class="card-title">{{countre.name}}</h5>
            <p class="card-text">{{countre.people}} People</p>
            <p class="card-text">{{countre.description}}</p>
            <p class="card-text"><small class="text-muted">{{countre.large}} KM</small></p>
          </div>
        </a>
    </div>  
</div>
</div>
</div>

<div *ngFor=" let details of country">
    <div class="card-body" *ngIf = "details.visible == false" >
        <h3>Detail Country</h3>
        <h5 class="card-title">{{details.name}}</h5>
        <p class="card-text">{{details.people}} People</p>
        <p class="card-text">{{details.description}}</p>
        <p class="card-text"><small class="text-muted">{{details.large}} KM</small></p>
        <div *ngFor="let page of onpage">
          <button *ngIf="page.status == '0' && page.activated == true"  (click)="backTo2(details.id)">Back To </button>
        </div>
      </div>
</div>
<div *ngFor="let page of onpage">
    <button *ngIf="page.status == '0' && page.activated == false" (click)="showall()">Show All Countries</button>
</div>
<div *ngFor="let page of onpage">
  <button *ngIf="page.status == '1'" (click)="backTo()">Back To </button>
</div>


<div *ngFor = "let page of onpage ">
    <div *ngIf="page.status == '1'">
    <h3 style="text-align: center; color: brown;">The Most Poupulated Countries</h3>
    <div class="card-group"  >
        <div class="card" *ngFor = "let countrys of country" >
          <div class="card-body">
            <h5 class="card-title">{{countrys.name}}</h5>
            <p class="card-text">{{countrys.people}} People</p>
            <p class="card-text">{{countrys.description}}</p>
            <p class="card-text"><small class="text-muted">{{countrys.large}} KM</small></p>
          </div>
        </div>
        </div>
    </div>
    </div>
